<h1><%= @iteration.name %></h1>

<p>
    <strong>Start Date: </strong><%= @iteration.start_date %><br />
    <strong>End Date: </strong><%= @iteration.end_date %><br />
    <strong>Created Date: </strong><%= @iteration.created_at %><br />
</p>
<ul id = "objectives" class="item-list">
   <% @iteration.objectives.each do |c| %>
    <li>
        <%= link_to display_objective_name(c), {:controller => "objective", :action => 'show', :id => c.id} %>
        <p><%= c.description %></p>
        <b>
            <%= link_to 'Edit', {:controller => "objective", :action => "edit", :id => c.id} %>
        </b>
        <b>
            <%= link_to "Delete", {:controller => 'objective', :action => 'delete', :id => c.id}, data:{ confirm: "Are you sure you want to delete this item?", :disable_with => "Processing..."} %>
        </b>
    </li>
    <% end %>
</ul>

<%= link_to "Add Objective", {:controller => "objective", :action => "new", :iteration_id => @iteration.id} %>

<hr />

<%= link_to 'Back', {:action => 'list'} %>