<!DOCTYPE html>
<html>
  <head>
    <title>OKR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id = "okr">
      <div id = "container">
         
         <div id = "header">
            <h1>OKR tracking</h1>
            <h3>Library powered by Ruby on Rails</h3>
         </div>
         <hr>

         <div id = "content">
            <%= yield -%>
         </div>

         <div id = "sidebar"></div>
         
      </div>
   </body>
</html>
